html {
  height: 100%;
}

body {
  display: flex;

  flex-direction: column;

  height: inherit;
}

.header {
  padding-top: 3px;
  height: 60px;

  background-color: #ceb0b0;
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: inherit;

  background-color: antiquewhite;
}

.header nav a {
  text-decoration: none;
}

.header nav .site-icon {
  flex-basis: 5%;

  text-align: center;
  font-size: 1.4em;
  font-weight: 900;

  padding: 10px;
  margin-left: 10px;
}

.header nav ul {
  display: flex;
  flex-direction: row;

  flex: 0 1 20%;
  justify-content: space-around;
}

.header nav ul a {
  text-align: center;

  flex: 1 1 0;

  padding: 10px;
}

.header nav ul a:nth-child(3) {
  flex: 1.2 1 0;
  border: #ceb0b0 1px solid;

  margin-right: 1em;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  flex: 1 1 0;
  background-color: #ccf5f8;
}

section .schedule-ui-wrapper {
  display: flex;
  flex-direction: column;

  min-width: 600px;
  flex: 1 1 55%;

  background-color: bisque;
}

section .schedule-date-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-top: 70px;
}

section .schedule-date-wrapper .schedule-year {
  font-size: 1.5em;
  font-weight: 700;
}

section .schedule-date-wrapper .schedule-date {
  font-size: 1.5em;
  font-weight: 700;

  padding: 40px 100px;
}

section .schedule-ring-wrapper {
  display: flex;

  justify-content: center;
}

section .schedule-ring-wrapper .schedule-ring {
  display: flex;
  flex-direction: column;

  background-image: url("/images/clock.png");
  background-repeat: no-repeat;
  background-size: contain;

  justify-content: center;
  align-items: center;

  border-radius: 50%;

  min-height: 600px;
  min-width: 600px;

  position: relative;
}

section .schedule-ring-wrapper .schedule-ring .time-wrapper {
  position: absolute;

  width: 600px;
  height: 600px;
}

/* 
시간표시를 위한 코드 시작 
유심히 봐도 의미가 없을 수 있음.
*/

.time {
  padding: 30px;

  border-radius: 50%;
}

.time:hover {
  background-color: rgba(45, 246, 89, 0.206);
}

.t00 {
  position: absolute;
  top: -20px;
  left: 269px;
}

.t01 {
  position: absolute;
  top: -9px;
  left: 344px;
}

.t02 {
  position: absolute;
  top: 20px;
  left: 413px;
}

.t03 {
  position: absolute;
  top: 66px;
  left: 473px;
}

.t04 {
  position: absolute;
  top: 126px;
  left: 518px;
}

.t05 {
  position: absolute;
  top: 194px;
  left: 547px;
}

.t06 {
  position: absolute;
  top: 270px;
  left: 557px;
}

.t07 {
  position: absolute;
  top: 346px;
  left: 547px;
}

.t08 {
  position: absolute;
  top: 415px;
  left: 518px;
}

.t09 {
  position: absolute;
  top: 475px;
  left: 473px;
}

.t10 {
  position: absolute;
  top: 520px;
  left: 413px;
}

.t11 {
  position: absolute;
  top: 548px;
  left: 344px;
}

.t12 {
  position: absolute;
  top: 560px;
  left: 269px;
}

.t13 {
  position: absolute;
  top: 548px;
  left: 194px;
}

.t14 {
  position: absolute;
  top: 520px;
  left: 125px;
}

.t15 {
  position: absolute;
  top: 475px;
  left: 65px;
}

.t16 {
  position: absolute;
  top: 415px;
  left: 20px;
}

.t17 {
  position: absolute;
  top: 346px;
  left: -9px;
}

.t18 {
  position: absolute;
  top: 270px;
  left: -20px;
}

.t19 {
  position: absolute;
  top: 195px;
  left: -10px;
}

.t20 {
  position: absolute;
  top: 126px;
  left: 19px;
}

.t21 {
  position: absolute;
  top: 66px;
  left: 65px;
}

.t22 {
  position: absolute;
  top: 20px;
  left: 125px;
}

.t23 {
  position: absolute;
  top: -9px;
  left: 195px;
}

/* 시간표시를 위한 코드 끝 */

section .schedule-ring-wrapper .schedule-ring .inner-ring {
  background-color: #d1d0d0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 420px;
  width: 420px;

  border-radius: 50%;
}

section .schedule-ring-wrapper .schedule-ring .inner-ring .inner-inner-ring {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  background-color: #f8f8f8;

  height: 340px;
  width: 340px;

  border-radius: 50%;
}

section .schedule-content-wrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  min-height: 500px;

  flex: 1 1 45%;
}

section .schedule-content-wrapper .schedule-todo-wrapper {
}

section .schedule-content-wrapper .schedule-todo-wrapper h1 {
  font-size: 1.6em;
  font-weight: 900;

  margin-bottom: 10px;
  margin-top: 30px;
}

section .schedule-content-wrapper .schedule-todo-wrapper li {
  font-size: 1.2em;

  padding: 12px;
}

section .schedule-content-wrapper .schedule-todo-wrapper li span {
  border-radius: 40px;
  background-color: aqua;

  padding: 5px 15px;
  margin: 5px;
}

section .schedule-content-wrapper .schedule-did-wrapper {
}

section .schedule-content-wrapper .schedule-did-wrapper h1 {
  font-size: 1.6em;
  font-weight: 900;

  margin-bottom: 10px;
  margin-top: 30px;
}

section .schedule-content-wrapper .schedule-did-wrapper li {
  font-size: 1.2em;

  padding: 12px;
}

section .schedule-content-wrapper .schedule-did-wrapper li span {
  border-radius: 40px;
  background-color: aqua;

  padding: 5px 15px;
  margin: 5px;
}
